.tabs__list ul::-webkit-scrollbar {
  display: none;
}
.tabs__list {
   font-family: Roboto, system-ui, sans-serif;
   letter-spacing: normal;
}
.tabs__actions {
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.tabs__actions .md-select {
    -webkit-appearance: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") calc(100% - 8px) center no-repeat;
    background-color: rgb(241,243, 244);
    background-size: 10px;
    border: none;
    border-radius: 4px;
    color: rgb(32, 33, 36);
    cursor: pointer;
    font-family: Roboto, system-ui, sans-serif;
    font-size: 14px;
    line-height: normal;
    max-width: 100%;
    outline: none;
    padding: 6px 21px 6px 8px;
    width: 210px;
    text-align: left;
}
.md-select:focus {
  box-shadow: 0 0 0 2px rgba(26, 115, 232, .4);
}
#tabs2links {
  position: fixed;
  top: 10vh;
  left: 15vw;
  width: 70vw;
  display: block;
  padding: 0;
  color: rgb(32,33,36);
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  z-index: 999999!important;
  overflow: visible;
  font-family: Roboto, system-ui, sans-serif;
  text-rendering: optimizeLegibility;
}
#tabs2links::after {
    content:"";
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#tabs2links button {
    border: 1px solid rgb(26, 115, 232);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 115, 232);
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    line-height: 100%;
    font-family: Roboto, system-ui, sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: none;
    float: right;
    cursor: pointer;
}
#tabs2links button:hover {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, .3),
            0 1px 3px 1px rgba(66, 133, 244, .15);
  background-color: rgba(26, 115, 232, 0.9);
}
#tabs2links button:focus {
  outline: none;
}
#tabs2links #closeLinks {
  margin-right: 8px;
  color: rgb(26, 115, 232);
  background: #fff;
  border: 1px solid rgb(218, 220, 224);
}
#tabs2links #closeLinks:hover {
  border-color: rgb(210, 227, 252);
  background: rgba(66, 133, 244, 0.04);
  box-shadow: none;
}
#tabs2links label {
  font-family: Roboto, system-ui, sans-serif;
  color: rgb(95, 99, 104);
  font-size: 13px;
  font-weight: 500;
  margin: 0 50px 0 0;
  display: inline-block;
}
#tabs2links ul.tabs__list {
  width: 100%;
  z-index: 9;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid transparent;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 4px 4px;
}

#tabs2links ul.tabs__list li.selected-tab {
  background-color: #DFDFDF;
}

#tabs2links .tabs__list li {
  font-family: Roboto, system-ui, sans-serif;
  padding: 7px 10px;
  box-sizing: border-box;
  background-color: rgb(248, 249, 250);
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0;
}

#tabs2links .tabs__list li:not(:last-of-type) {
  border-bottom: 1px solid #F0F0F0;
}

#tabs2links .tabs__list li span.tabs__title {
  display: inline-block;
  flex: 1;
  font-size: 13px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#tabs2links .tabs__list li span.tabs__title strong {
  display: block;
  font-size: 10px;
  font-weight: normal;
}

.tabs__list li .tabs__favicon {
  flex: 0 0 50px;
  text-align: center;
}

.tabs__list li .tabs__favicon img {
  width: 18px;
  height: auto;
  vertical-align: bottom;
}

@media all and (max-width: 600px) {
  .tabs__list {
    left: 5vw;
    width: 90vw;
  }
}

@media all and (min-width: 1500px) {
  .tabs__list {
    left: calc(50vw - 500px);
    width: 1000px;
  }
}
